<ion-view title="Running 4 Beer" right-buttons="rightButtons" >
    <ion-content has-header="true" has-tabs="true" padding="true" ng-controller="CreaterController">
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
        <button class="button" ng-click="takePicture()">Take Picture</button>
        <label class="item item-input">
          <input type="number" ng-model="user.chainLength" placeholder="length">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="user.usertosendto" placeholder="next user">
        </label>
        <button class="button" ng-click="sendData()">Send</button>
    </ion-content>
</ion-view>
